aenum==2.1.2
altgraph==0.16.1
attrs==18.2.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
facebook-sdk==3.1.0
fbchat==1.6.5
future==0.17.1
gTTS==2.0.3
gTTS-token==1.1.3
guess-language-spirit==0.5.3
idna==2.8
langdetect==1.0.7
langid==1.1.6
lxml==4.3.4
macholib==1.11
nltk==3.4.3
numpy==1.16.4
pefile==2019.4.18
Pillow==6.2.0
playsound==1.2.2
pyenchant==1.6.6
pypiwin32==223
pyttsx3==2.71
pywin32==224
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
textblob==0.15.3
urllib3==1.25.3
clipboard==0.0.4
